*, *:before, *:after {
  box-sizing: inherit;
}
html {
  /* box-sizing: border-box; */
  overflow: auto;
}

.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  background-color:#f5f5f5;
}
#root {
  font-size:20px;
}

.title{ 
  font-size:25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Card Pages.css */

.CardPage {

  background-color: #fff;
  padding: 20px;
}


/* Metabar */
.navbox2 {
  display: flex;
  background-color:#3369ff;
  height:20px;
}

a.button6{
  box-sizing: border-box;
  /* font-family:'Roboto',sans-serif; */
  text-transform:uppercase;
  font-weight:400;
  color:#FFFFFF;
  text-align:center;
  position:relative;
  }
  a.button6:active{
  top:0.1em;
  }
  @media all and (max-width:30em){
  a.button6{
  display:block;
  margin:0.4em auto;
  }
  }
/* NavBar */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container */
.navbox {
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100%;
  background: #7cdb53;
  padding: 10px;
  
}

.navbox p {
  font-size: 14px;
}

.navbox img {
  
  height:75px;;
   width:75px;
   
   padding-right: 20px;
  }

.navbox a {
  float: left;
  padding: 12px;
  padding-top: 20px;
  color: white;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-decoration: none;
  font-size: 30px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

.navbox div {
  float: left;
  padding: 12px;
  padding-top: 20px;
  color: white;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-decoration: none;
  font-size: 25px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

.navbox button {
  float: left;
  padding: 12px;
  padding-top: 20px;
  color: white;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  background: #7cdb53;
  border: 0px !important;
  font-size: 25px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

.navbox label {
  float: left;
  padding: 12px;
  padding-top: 20px;
  color: white;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  background: #7cdb53;
  border: 0px !important;
  font-size: 25px;
  width: 8%; /* Four links of equal widths */
  text-align: center;
}

.logoCss a{ 
  background:none !important;
  box-shadow:none !important;

}

.logoCss a:hover{ 
  background:none !important;

}

.navbox a:hover{
  background:#fb0443;
  color:#fff;
  padding: 10px ;
  width: 20%;
 
  transition: all .8s ease;
-webkit-transition: all .8s ease;
}

.navbox button:hover{
  background:#fb0443;
  color:#fff;
  padding: 10px ;
  width: 20%;
 
  transition: all .8s ease;
-webkit-transition: all .8s ease;
}

.navbox div:hover{
  background:#fb0443;
  color:#fff;
  padding: 10px ;
  width: 20%;
 
  transition: all .8s ease;
-webkit-transition: all .8s ease;
}


.navbox a.active {
  background-color: #04AA6D;
}


.icon {
  width: 100px;
  height: 100px;
  padding:10px;
  display: flex;
  flex-direction: row;
  padding:20px;
  width: 25%;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 500px) {
  .navbox a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* button desgin */

.btn-main { 
  width: 165px;
  height: 60px;
  font-size: 20px;
  
  color:#fff;
  background: #7cdb53;
  margin: 2%;
  border-width: 0px !important;
  /* border-color: #4C6663; */

}

@media screen and (max-width: 1275px) {
  .btn-main {
    display:block;
    margin:0.4em auto;
  }
}

.errorCss p {
  color:red !important;
}


.btn-main:hover{
  background: #fb0443;
  transition: all .8s ease;
  -webkit-transition: all .8s ease;
}
/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
/* D4C5E2 */
/* C9D7F8 */
/*  A7E2E3 */
/* 80CFA9 */
/* 80CFA9 */
/* https://ianlunn.github.io/Hover/ */



/* flexbox logic */
.flex-box {
  width: 100%;
  height: 100%;
  text-align:left;
  padding: 30px;
  padding-left: 100px;
}
.flex-boxCenter {
  width: 100%;
  height: 100%;
  text-align:left;
  padding: 30px;
  padding-left: 100px;
}

.flex-childLogin {
  width: 50%;

  display: inline-block;
  
}

.flex-childLoginbutton {
  width: 50%;

  float:right;
}

.flex-child {
  width: 50%;
  float: left;
  Display: flex; 
  flex-direction: row !important;
  
}

.flex-child2 {
  width: 50%;
  float: left;

  
}
.minibox{
  
  height:60%;
}

.exchange { 
  width: 60%;
  padding: 20px;
  text-align:center;
  border-color:#282c34;
  border-width: 2px;
  background-color: #fff;
  display: flex; 
  margin-left: 3%;
}

.exchange input{ 

}

.column-child {

  Display: flex; 
Flex-direction:  column;
align-self: auto;
justify-content: center;
}

/* .exchange-child { 
  width: 20%;
  float: left;

} */

.depositCss input{
  
  width: 50%;
  padding: 15px 25px;
  margin: 8px 0;
  
box-sizing: border-box;
}

.withdrawCss input {
  
  width: 50%;
  padding: 15px 25px;
  margin: 8px 0;
  
  box-sizing: border-box;

}

/* timeline css */
.timebox {
  width: 90%;
}
.rt-layout {
  margin-left: 0px !important;
}

.rt-layout__side {
  position: relative; 
  z-index: 2; 
  display: inline-block; 
  width: 0px !important;
  vertical-align: top; 
}
.rt-timebar-key {
  height: 0px !important;
  padding-right: 0px !important;
  line-height: 0px !important;
  text-align: right;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}
.rt-track-keys > .rt-track-key > .rt-track-key__entry {
  padding-left: 0px !important;
}
.rt-track-key__toggle--open {
  background-image: None !important;
}
.rt-track-key__entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 0px !important;
  line-height: 0px !important;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #eee;
}
/* Upload.js css */
.UploadBox {
  text-align: center;
  padding-top: 25px;

}

.rt-track-key__toggle {
  overflow: hidden;
  width: 0px !important;
  height: 0px !important;
  margin-right: 0px !important;
  background-color: None !important;
  color: transparent; 
}

.homeCss {
  float:left;
  padding:40px;
  padding-left: 100px;

}
.homeCss p{
  margin: 0 0 10px !important;
}


.boldRed b {
  color:red;
}

.boldGreen b { 
  color:#04AA6D;
}

.loginCss {

}

.loginCss input  {
    width: 50% ;
    padding: 15px 25px;
    margin: 8px 0;
    box-sizing: border-box;
}

.claimform {
  margin: 20px;
   width: 50%;
   padding: 20px;
   background-color: #fff;
}

.claimform img {
  width: 50%;
}

#Aprrove { 
  width: 165px;
  height: 60px;
  font-size: 20px;
  
  color:#fff;
  background: #7cdb53;
  margin: 2%;
  border-width: 0px !important;
}